@model OurHospital.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="/Styles/Styles.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Get password</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="container-login100-form-btn m-t-20">
                    <button type="submit" value="Email Link">Send</button>
                </div>
                <p class="message">@Html.ActionLink("Back", "Login")</p>
            }
        </div>
    </div>
</body>
</html>
