@using OurHospital.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/Styles/Styles.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2>Hello!</h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="container-login100-form-btn m-t-20">
                        <button type="submit" value="Log in">Log In</button>
                    </div>
                    <p class="message">Not registered? @Html.ActionLink("Sign Up", "Register")</p>
                    <p class="message"> @Html.ActionLink("Forgot your password?", "ForgotPassword")</p>
                }
            </section>
        </div>
    </div>
</body>
</html>